<!DOCTYPE html>
<html>
<head>
	<title>Angular Controller and Scope</title>	

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


	<!-- Angular JS cdn -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<body>
<div class="container" ng-app="appDemo">
	<br />

	<div ng-controller="personController">
		<div class="row">
			{{ "Search for : " + username }} <br /><br />
			Username: 
			<input type="text" ng-model="username" /> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Password:
			<input type="password" ng-model="password" /> &nbsp;&nbsp; {{ password }}
			<br /><br />
		</div>

		<div>
		<h3>People in cities</h3>
			<ol>
				<li ng-repeat="person in people | filter:username">{{ person.name }} - {{ person.city }}</li>
			</ol>
		</div>
	</div>

</div>

	<script>

		var demo_app = angular.module('appDemo', []);

		demo_app.controller('personController', ['$scope', personController]);	

		function personController($scope) {
			$scope.people=[
				{name:'Tshepo', city:'Pretoria'},
				{name:'Tshepiso',city:'Durban'}, 
				{name:'Tshepang', city:'Cape Town'}, 
				{name:'Thabo', city:'Polokwane'}, 
				{name:'Thabiso', city:'Bloemfontein'}, 
				{name:'Tshegofatso', city:'Pretoria'}
			];
			$scope.password = "s3cR3T";
		}
	</script>

</body>
</html>